@page
@model WebApplication1.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
    
}
@inject UserManager<IdentityUser> UserManager;
@using Microsoft.AspNetCore.Identity;


@*<script>
    @{
        async Task<string> getUserId()
        {
            var user = await UserManager.GetUserAsync(User);
            return user.Id;
        }
    }
    setUser(@getUserId().Result);
</script>*@

<div class="container  mt-5">
    <div class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-group row" style="width:100%">
                            <div class="col-2" style="margin:auto"><label for="titleOfEvent" @*class="form-label"*@>Title</label></div>
                            <div class="col-10"><input type="text" class="form-control" id="eventTitle" value="" required @*placeholder="Title"*@></div>
                            
                            
                        </div>
                        <div class="form-group" style="width:100%">
                            <label for="exampleTextarea" class="form-label mt-4">Description</label>
                            <textarea class="form-control" id="eventDescription" rows="3" value=""></textarea>
                        </div>
                        
                    </div>
                    <div class="input-group">
                        
                        <fieldset class="form-group row" style="padding:12px">
                            
                            <label>Starts</label>
                            <input type="date" id="eventStart" class="form-control" value="" required />
                            <label>Ends</label>
                            <input type="date" id="eventEnd" class="form-control" value="" required />
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="allDayCheck">All Day</label>
                                <input class="form-check-input" type="checkbox" id="allDayCheck" checked="">
                            </div>
                            
                        </fieldset> 
                             
                        @*<fieldset class="form-group row">
                            <label class="col-2">Color</label>
                            <div class="form-check col-1">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            </div>
                                <div class="form-check col-1">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            </div>
                            </div>
                                <div class="form-check col-1">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            </div>
                        </fieldset>*@
                        @*<div id="eventColor">
                            <span class="rounded-pill"> </span>
                        </div>*@
                        
                    </div>
                    @*<div class="input-group">
                        
                        <label>Repeat</label>
                        <select name="repeat" id="repeatSelect">
                            <option value="0">Does not repeat</option>
                            <option value="1">Weekly</option>
                            <option value="2">Monthly</option>
                            <option value="3">Annually</option>
                        </select>
                        
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
                                    
                                

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3 id="monthAndYear"></h3>
                </div>
                <div class="col position-relative" style="text-align:right">
                    
                    <i class="bi bi-arrow-left-short" id="previous" onclick="previous()" style="font-size:1.75rem"></i>
                    
                    <i class="bi bi-arrow-right-short" id="next" onclick="next()" style="font-size:1.75rem"></i>
                </div>
            </div>
                                   
            
            <form class="form-inline" style="display:none">
                <label class="lead mr-2 ml-2" for="month">Jump To: </label>
                <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                    <option value=0>Jan</option>
                    <option value=1>Feb</option>
                    <option value=2>Mar</option>
                    <option value=3>Apr</option>
                    <option value=4>May</option>
                    <option value=5>Jun</option>
                    <option value=6>Jul</option>
                    <option value=7>Aug</option>
                    <option value=8>Sep</option>
                    <option value=9>Oct</option>
                    <option value=10>Nov</option>
                    <option value=11>Dec</option>
                </select>


                <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
                    <option value=1990>1990</option>
                    <option value=1991>1991</option>
                    <option value=1992>1992</option>
                    <option value=1993>1993</option>
                    <option value=1994>1994</option>
                    <option value=1995>1995</option>
                    <option value=1996>1996</option>
                    <option value=1997>1997</option>
                    <option value=1998>1998</option>
                    <option value=1999>1999</option>
                    <option value=2000>2000</option>
                    <option value=2001>2001</option>
                    <option value=2002>2002</option>
                    <option value=2003>2003</option>
                    <option value=2004>2004</option>
                    <option value=2005>2005</option>
                    <option value=2006>2006</option>
                    <option value=2007>2007</option>
                    <option value=2008>2008</option>
                    <option value=2009>2009</option>
                    <option value=2010>2010</option>
                    <option value=2011>2011</option>
                    <option value=2012>2012</option>
                    <option value=2013>2013</option>
                    <option value=2014>2014</option>
                    <option value=2015>2015</option>
                    <option value=2016>2016</option>
                    <option value=2017>2017</option>
                    <option value=2018>2018</option>
                    <option value=2019>2019</option>
                    <option value=2020>2020</option>
                    <option value=2021>2021</option>
                    <option value=2022>2022</option>
                    <option value=2023>2023</option>
                    <option value=2024>2024</option>
                    <option value=2025>2025</option>
                    <option value=2026>2026</option>
                    <option value=2027>2027</option>
                    <option value=2028>2028</option>
                    <option value=2029>2029</option>
                    <option value=2030>2030</option>
                </select>
            </form>

        </div>
        <table class="table table-bordered" id="calendar" style="margin:0">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>

            <tbody id="calendar-body">
            </tbody>
        </table>

        
        
        
    </div>
</div>


<!-- Optional JavaScript for bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>