@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero">
    <div class="container position-relative">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h1 class="display-4">Welcome</h1>
                <p>The goal with this Calendar app is to have a more interactive experience while having more functionality. @* I like to be able to look back on the things
                    I've written in the past or notes from specific times in my life. I also like putting sticky notes or stickers around to keep track of things.
                    Its helpful to have multiple different ways to keep track of the same information or to have reminders that aren't just alarms.*@
                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
                
                <div class="col-11">
                    <i class="bi bi-calendar-plus-fill fa-6x m-4 text-secondary"></i>
                    <i class="bi bi-card-checklist fa-6x m-4 text-primary"></i>
                </div>
                <div class="col-11">
                    <i class="bi bi-stickies fa-6x m-4 text-primary"></i>
                    <i class="bi bi-journal-bookmark-fill fa-6x m-4 text-secondary"></i>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="bg-light p-2">
    <div class="container">
        <div class="section-header">
            <h2>Organize your schedule your way</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-stickies"></i>
                    </div>
                    <h3>Stickers</h3>
                    <p>
                        Having drag and drop stickers and sticky notes to use on a calendar, itenerary, or notes page is very convenient. Both would be customizable with
                        different icons or text. Stickers would be able to be placed on days of the month and searching for the dates that have those stickers on them would
                        be possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-journal-bookmark-fill"></i>
                    </div>
                    <h3>Notes</h3>
                    <p>
                        Having a notes option for each day to write anything you might need to is nice, there is also the option of using it like journal but having dated notes
                        can be very helpful. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-card-checklist"></i>
                    </div>
                    <h3>Itenerary</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bell"></i>
                    </div>
                    <h3>Reminders and Reoccuring Events</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-cloud-sun"></i>
                    </div>
                    <h3>Weather</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="group-item position-relative">
                    <div class="icon">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <h3>Location</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
            
</section>*@

@*<section>
    <div class="container">
        <div class="row-cols-lg-4">
            <div class="col-lg-4">
                <div>
                    @*<div class="icon">
                        <i class="bi bi-stickies"></i>
                    </div>
                    <h3>Stickers</h3>
                    <p>
                        Having drag and drop stickers and sticky notes to use on a calendar, itenerary, or notes page is very convenient. Both would be customizable with
                        different icons or text. Stickers would be able to be placed on days of the month and searching for the dates that have those stickers on them would
                        be possible.
                    </p>
                </div>
                <div>
                    <div class="icon">
                        <i class="bi bi-stickies"></i>
                    </div>
                    <h3>Stickers</h3>
                    <p>
                        Having drag and drop stickers and sticky notes to use on a calendar, itenerary, or notes page is very convenient. Both would be customizable with
                        different icons or text. Stickers would be able to be placed on days of the month and searching for the dates that have those stickers on them would
                        be possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>*@
    
                